<div class="container my-2 ">
  <div class="w-full max-w-3xl m-auto w-4/5">
    <%= form_with model: @user, url: profile_path, class: "bg-white shadow-md border rounded px-8 pt-6 mt-10 pb-8 mb-4", local: true do |f| %>
      <h2 class="text-3xl text-center">プロフィール編集</h2>
      <div class="mb-4">
        <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :introduction, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_area :introduction, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', rows:5 %>
      </div>
      <div class="flex">
        <div class="mb-4">
          <%= f.label :avatar, class: "block text-gray-700 text-sm font-bold mb-2 mt-2" %>
          <%= f.file_field :avatar, class: "mb-5", accept: 'image/*' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class='mt-3 mb-3'>
          <%= image_tag @user.avatar.url,
                        size: '100x100',
                        class: 'rounded-full' %>
        </div>
      </div>
      <%= f.submit '更新', class: 'btn btn-primary my-5' %>
    <% end %>
  </div>
</div>