<tr id="comment-<%= comment.id %>" class="">
  <td>
    <h3 class="small"><%= comment.user.name %></h3>
    <div id="js-comment-<%= comment.id %>">
      <%= simple_format(comment.content) %>
    </div>
    <div id="js-textarea-comment-box-<%= comment.id %>" style="display: none;">
      <textarea id="js-textarea-comment-<%= comment.id %>" class="form-control mb-1"><%= comment.content %></textarea>
      <button class="btn btn-light js-button-edit-comment-cancel" data-comment-id="<%= comment.id %>">キャンセル</button>
      <button class="btn btn-success js-button-comment-update" data-comment-id="<%= comment.id %>">更新</button>
    </div>
  </td>

  <% if current_user.own?(comment) %>
    <td class="pt-10">
      <ul class="flex">
        <li class="ml-5">
          <a href="#" class='js-edit-comment-button' data-comment-id="<%= comment.id %>">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </li>
        <li class="ml-5">
            <i class="fa-solid fa-trash"></i>
            <%= link_to '削除', comment_path(comment), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>