<% unless current_user.own?(object) %>
  <div class="avatar-img m-2 hover:opacity-75">
    <%= link_to others_profile_path(object.user.id) do %>
      <%= image_tag object.user.avatar.url, class: "avatar-img" %>
      <p class="text-center text-primary text-lg font-bold"><%= object.user.name %></p>
    <% end %>
  </div>
<% else %>
  <div class="avatar-img m-2">
    <%= image_tag object.user.avatar.url, class: "avatar-img" %>
    <p class="text-center text-primary text-lg font-bold"><%= object.user.name %></p>
  </div>
<% end %>