<div class="navbar bg-accent">
  <div class="flex-1">
    <%= link_to 'おもちゃCITY', root_path, { class: "btn btn-ghost normal-case text-xl" } %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '記事一覧', posts_path, {class: "btn btn-ghost"} %></li>
      <li><%= link_to '記事投稿', new_post_path, { class: "btn btn-ghost" } %></li>
      <li><%= link_to 'お気に入り記事', favorites_posts_path, { class: "btn btn-ghost" } %></li>
      <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <%= image_tag current_user.avatar.url %>
        </div>
      </label>
      <ul tabindex="0" class="menu  dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-36">
        <li class="justify-center"><%= link_to 'プロフィール', profile_path %></li>
        <li class="justify-center"><%= link_to 'ログアウト', logout_path %></li>
      </ul>
    </div>
    </ul>
  </div>
</div>
