<div class="navbar bg-secondary">
  <div class="flex-1">
    <%= link_to 'おもちゃCITY', root_path, { class: "btn btn-ghost normal-case text-xl" } %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="dropdown">
          <label tabindex="0" class="btn btn-ghost text-black">投稿<i class="fa-sharp fa-solid fa-caret-down"></i></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-28">
            <li><%= link_to '投稿一覧', posts_path, {class: "btn btn-ghost text-black"} %></li>
            <li><%= link_to '投稿する', new_post_path, { class: "btn btn-ghost text-black" } %></li>   
            <li><%= link_to 'お気に入り', favorites_posts_path, { class: "btn btn-ghost text-black" } %></li>       
          </ul>
      </li>
      <li class="dropdown">
          <label tabindex="0" class="btn btn-ghost text-black">カテゴリー<i class="fa-sharp fa-solid fa-caret-down"></i></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <% @category_all.each do |category| %>
              <li><%= link_to category.category_name, posts_path(category_id: category.id), class: "btn btn-ghost text-black" %></li>
            <% end %>
          </ul>
      </li>
      <li class="dropdown">
          <label tabindex="0" class="btn btn-ghost text-black">対象年齢<i class="fa-sharp fa-solid fa-caret-down"></i></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-24">
            <% @target_age_all.each do |target_age| %>
              <li><%= link_to target_age.name, posts_path(target_age_id: target_age.id), class: "btn btn-ghost text-black" %></li>
            <% end %>
          </ul>
      </li>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag current_user.avatar.url %>
          </div>
        </label>
        <ul tabindex="0" class="menu  dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-36">
          <li class="justify-center"><%= link_to 'プロフィール', profile_path, { class: "btn btn-ghost text-black" } %></li>
          <li class="justify-center"><%= link_to 'ログアウト', logout_path, { class: "btn btn-ghost text-black" } %></li>
        </ul>
      </div>
    </ul>
  </div>
</div>
