<%= link_to (post_path(id: post.id)), class: "hover:opacity-75" do %>
  <div class="card card-compact w-80 bg-base-100 shadow-xl  mt-3 ">
      <%= image_tag post.toy_image_url, class:"h-56  p-2 m-auto object-cover", size: '300x200' %>
    <div class="card-body h-56">
      <h2 class="card-title"><%= post.toy_name %></h2>
      <% unless post.categories.blank? %>
        <div class="flex flex-wrap">
          <% post.categories.each do |category| %>
            <div class="badge badge-primary m-1">
              <%= category.category_name %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% unless post.target_ages.blank? %>
        <div class="flex flex-wrap">
          <% post.target_ages.each do |age| %>
            <div class="badge badge-secondary m-1">
              <%= age.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 border-t-2 h-32">
      <div class="flex">
        <div class="avatar">
          <div class="avatar-img-xs">
            <%= image_tag post.user.avatar.url %>
          </div>
        </div>
        <div class="ml-2">
          <p class="text-xs block text-gray-500"><%= post.user.name %></p>
          <p class="block text-base"><%= post.content.truncate(40) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

