<%= link_to (post_path(post)) do %>
  <div class="card card-compact w-80 bg-base-100 shadow-xl  mt-3">
    <%= image_tag post.toy_image_url, class:"h-52", size: '300x200' %>
    <div class="card-body">
      <h2 class="card-title"><%= post.toy_name %></h2>
      <div class="flex justify-between">
        <p><%= post.content %></p>
        <%= render 'favorite_button', post: post unless current_user.own?(post) %>
      </div>
      <div class="flex">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <ul class="flex">
          <li class="card-title ml-2"><%= post.user.name %></li>
          <li class="h-10 leading-10 ml-5">
            <i class="fa-solid fa-calendar-days"></i>
            <p class="inline-block ml-1"><%= post.created_at.strftime('%Y/%m/%d')%></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
