
  <div class="flex justify-center my-6">
    <div class="flex flex-col  md:flex-row max-w-xs rounded-lg bg-white shadow-lg">
      <!-- おもちゃの写真 -->
      <%= image_tag post.toy_image.url, class: 'w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg md:w-44' %>
      <div class="p-6 flex flex-col justify-start md:max-w-xs md:w-80" style="max-width: 400px;">
        <!-- おもちゃの名前とお気に入りボタン -->
        <div class="flex items-center">
          <p class="text-gray-900 text-xl font-bold mb-2 mr-2 break-words"><%= post.toy_name %></p>           
        </div>
        <!-- 本文 -->
        <p class="text-gray-700 text-base mb-2 break-words">
          <%= post.content.truncate(40) %>   
        </p>
        <!-- カテゴリ -->
        <% unless post.categories.blank? %>
          <div class="flex">
            <% post.categories.each do |category| %>
              <div class="badge badge-primary my-1 mr-1">
                <%= category.category_name %>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- 年齢 -->
        <% unless post.target_ages.blank? %>
          <div class="flex flex-wrap mb-1">
            <% post.target_ages.each do |target_age| %>
              <div class="badge badge-secondary my-1 mr-1">
                <%= target_age.name %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="text-gray-600 text-xs flex items-center"><i class="fa-solid fa-calendar-days mr-1"></i>投稿日：<%= l post.created_at, format: :long  %></div>
        <div class="flex  items-center">
          <div class="my-2 flex  items-center">
            <%= image_tag post.user.avatar.url, class: "avatar-img-xs" %>
            <p class="text-center text-primary text-lg font-bold ml-3"><%= post.user.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
