<% content_for(:title, t('.title')) %>
<%= render 'modal' %>
<div class="flex justify-center my-6">
  <div class="flex flex-col md:flex-row md:max-w-3xl rounded-lg bg-white shadow-lg">
    <!-- おもちゃの写真 -->
    <%= image_tag @post.toy_image.url, class: 'w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg md:w-72' %>
    <div class="p-6 flex flex-col justify-start">
      <!-- おもちゃの名前とお気に入りボタン -->
      <div class="flex">
        <h5 class="text-gray-900 text-xl font-bold mb-2"><%= @post.toy_name %></h5>
        <div class="pt-0.5">
          <% unless logged_in? && current_user.own?(@post) %>
            <%= render 'favorite_button', post: @post if logged_in? %>
          <% end %>
        </div>
      </div>
      <!-- 本文 -->
      <p class="text-gray-700 text-base mb-2">
        <%= simple_format(@post.content) %>      
      </p>
      <!-- カテゴリ -->
      <% unless @post.categories.blank? %>
        <div class="flex">
          <% @post.categories.each do |category| %>
            <div class="badge badge-primary my-1 mr-1">
              <%= link_to category.category_name ,posts_path(category_id: category.id) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- 年齢 -->
       <% unless @post.target_ages.blank? %>
        <div class="flex flex-wrap mb-1">
          <% @post.target_ages.each do |target_age| %>
            <div class="badge badge-secondary my-1 mr-1">
              <%= link_to target_age.name ,posts_path(target_age_id: target_age.id) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- 購入店舗 -->
       <% if @post.shop_link.present? %>
          <div class="flex mb-1 text-xs">
           <div><i class="fa-solid fa-store mr-1"></i>購入店舗：</div> 
           <div class="text-primary"><%= @post.shop_link_i18n %></div>
          </div>
          <% end %>
      <div class="text-gray-600 text-xs flex items-center"><i class="fa-solid fa-calendar-days mr-1"></i>投稿日：<%= l @post.created_at, format: :long  %></div>
      <div class="flex">
        <%= render 'shared/avatar_link', object: @post %>
      </div>
      <div class="border-t flex items-center">
        <%= image_tag @post.rakuten_toyimage %>
        <div class="btn btn-primary"><i class="fa-sharp fa-solid fa-cart-shopping mr-2"></i><%= link_to "商品を見に行く", @post.netshop_link %></div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
<% if logged_in? && current_user.own?(@post) %>
  <%= render 'crud_menus', post: @post %>
<% end %>
</div>
<div class="container pt-5 m-auto text-center">
  <div class="mt-10">
    <!-- コメントフォーム -->
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <!-- コメントエリア -->
    <%= render 'comments/comments', { comments: @comments } %>
  </div>
</div>