<div class="container pt-5 m-auto text-center">
    <!-- 投稿内容 -->
      <article class="">
        <h2 class="text-4xl font-bold my-4"><%= @post.toy_name %></h2>
        <div class="">
          <div class='border-b-4 border-black	py-5'>
            <div class=''>
              <%= image_tag @post.toy_image.url, class: 'm-auto', size: '300x200' %>
            </div>
            <div class=''>
              <ul class="">
                <li class="text-right">by <%= @post.user.name %></li>
                <li class="text-right"><%= l @post.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <%= simple_format(@post.content, class: "mt-5") %>
        </div>
        <%= render 'crud_menus', post: @post if current_user.own?(@post) %>
      </article>
  
  <div class="mt-10">
    <!-- コメントフォーム -->
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <!-- コメントエリア -->
    <%= render 'comments/comments', { comments: @comments } %>
  </div>
</div>