<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- OGP -->
    <%= display_meta_tags(default_meta_tags) %>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6G7DQ79JLS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6G7DQ79JLS');
    </script>
  </head>

  <body>
    <main class="container mx-auto" style="padding-top: 70px;">
      <% if logged_in? %>
        <%= render 'shared/header' %>
        <% unless current_page?(new_post_path) %>
          <div style="position: fixed; right: 4rem; bottom: 2rem; z-index: 99;">
            <%= link_to new_post_path, { class: "btn btn-primary text-white text-xl" } do %>
              投稿<i class="fa-regular fa-pen-to-square ml-2"></i>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
        <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </main>
  </body>
</html>
